.one{
    color: green;
    margin: 60px;
    font-size: 50px;
}

body{
    background-color: black;
}

div.btn{
    background-color: skyblue;
    width: 200px;
    margin: 50px;
    padding: 60px;
    font-size: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    transition: 0.5s;
}

div.btn:hover{
    transform: translate(-10px, -10px, -10px);
    box-shadow: 25px 25px 25px grey;
    transition: 0.5s;
}

div.btn:active{
    transform: translate(5px, 5px, 5px);
    box-shadow: 5px 5px 5px grey;
    transition: 0.5s;
}

.two{
    color: red;
    font-weight: 900;
}

div.three{
    background-color: hotpink;
}
