h1{
    color:red;
    text-decoration: underline;
    font-style: italic;
}

.a{
    color: blue;
}

.b{
    color:purple;
    font-style: italic;
}

.c{
    color: green;
}

.d{
    color:chocolate;
}

.e{
    color: purple;
    font-style: italic;
}

.f{
    color: violet;
}

.oil{
    color: brown;
}

.or{
    color: greenyellow;
}

.g{
    color: green;
}

.h{
    color: yellow;
}

.hunt{
    color:violet
}

.i{
    color: green;
}

.k{
    color:magenta
}

.l{
    color:magenta
}
